.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.cmenu {
	margin: 0; 
	padding: 0.3em; 
	list-style-type: none;
    background-color: white;
}

.cmenu li:hover {}

.cmenu hr {
	border: 0; 
	border-bottom: 1px solid grey;
    margin: 3px 0px 3px 0px; 
    width: 10em;
}

.cmenu a {
	border: 0 !important;
}

.cmenu a:hover {
	text-decoration: underline !important;
}

.cmenu .topSep {
	font-size: 90%; 
	border-top: 1px solid gray;
    margin-top: 0.3em; 
    padding-top: 0.3em;
}

/* JQuery slider */
.slider { width: 180px; margin: 5px 0; }
.ui-slider-range { 
  background-color: #ccc;
}


#rel-slider { 
  border-radius: 0px; 
  border: 1px solid black; 
  height: 8px; }

#rel-slider a { 
  border-radius: 1px; 
  border: 1px solid black; 
  width: 10px; 
  height: 12px; 
  background: #555; 
  cursor: col-resize;
}

/*toggle button*/
    
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-left, .ui-corner-br { 
  border-bottom-right-radius: 1px; 
  border-bottom-left-radius: 1px; 
  border-top-right-radius: 1px; 
  border-top-left-radius: 1px;
}

.ui-widget {
  font-family: arial; 
  font-size: 1em;
}

.ui-state-default, .ui-state-active { 
  border-color: #555;
}

.ui-state-default { 
  color: #777;
}

.ui-state-active { 
  color: #333;
}