/* context menu */
.cmenu {
	margin: 0; 
	padding: 0.3em; 
	list-style-type: none;
    background-color: white;
}

.cmenu li:hover {}

.cmenu hr {
	border: 0; 
	border-bottom: 1px solid grey;
    margin: 3px 0px 3px 0px; 
    width: 10em;
}

.cmenu a {
	border: 0 !important;
}

.cmenu a:hover {
	text-decoration: underline !important;
}

.cmenu .topSep {
	font-size: 90%; 
	border-top: 1px solid gray;
    margin-top: 0.3em; 
    padding-top: 0.3em;
}

/* JQuery slider */
.slider { width: 180px; margin: 5px 5px; }
.ui-slider-range { 
  background-color: #ccc;
}


#size-slider { 
  border-radius: 0px; 
  border: 1px solid black; 
  height: 8px; 
  padding-left: 5px;
}

#size-slider a { 
  border-radius: 1px; 
  border: 1px solid black; 
  width: 10px; 
  height: 12px; 
  background: #555; 
  cursor: col-resize;
}

/*toggle button*/
    
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-left, .ui-corner-br { 
  border-bottom-right-radius: 1px; 
  border-bottom-left-radius: 1px; 
  border-top-right-radius: 1px; 
  border-top-left-radius: 1px;
}

.ui-widget {
  font-family: arial; 
  font-size: 1em;
}

.ui-state-default, .ui-state-active { 
  border-color: #555;
}

.ui-state-default { 
  color: #777;
}

.ui-state-active { 
  color: #333;
}
/* page frame */
/* toolbar */
#toolbar {
  box-shadow: 0 0 3px #c8c8c8;
  background-color: #fafafa;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10000;
  padding-left: 5px;
}

.button-text {
  display: inline-block;
  line-height: 20px;
  height: 20px;
  margin: 5px 0;
  font-size: 14px;
}

.button {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  display: inline-block;
  line-height: 20px;
  height: 20px;
  margin: 5px 2px;
  font-family: Arial, "Microsoft YaHei", sans-serif;
  font-size: 14px;
  padding: 0 8px;
  cursor: pointer;
  color: black;
  position: relative;
  border-bottom: 2px solid #aaaaaa;
  margin-bottom: 2px;
}
.button:hover {
  background: #2060d5;
  color: white;
}
.button.inactive,
.button.inactive:hover {
  background: #e1e1e1;
  color: #7d7d7d;
}
.button.active {
  border-bottom: 2px solid #2060d5;
  margin-bottom: 2px;
}
/* message */
#message {
  display: inline-block;
  height: 20px;
  line-height: 20px;
  font-family: Arial, "Microsoft YaHei", sans-serif;
  font-size: 12px;
  padding: 0 8px;
  color: black;
  position: fixed;
  left: 0;
  right: 0;
  top: 35px;
}

/* graph */
#graph {
  position: fixed;
  left: 0;
  right: 200px;
  top: 30px;
  bottom: 100px;
  width: 800px;
  /*cursor: crosshair;*/
}

#sub-graph {
  position: fixed;
  right: 300px;
  left: 700px;
  top: 30px;
  bottom: 100px;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

/* right box */
#right-box {
  box-shadow: 0 0 3px #c8c8c8;
  background-color: #fafafa;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  position: fixed;
  right: 0;
  top: 30px;
  bottom: 0px;
  z-index: 5;
  width: 240px;
  font-family: Arial, "Microsoft YaHei", sans-serif;
  font-size: 12px;
}
#right-box-inner {
  padding: 6px;
}
#right-box h2 {
  margin: 5px -6px;
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 3px;
  padding-bottom: 3px;
  color: #aaaaaa;
  font-size: 12px;
  font-weight: normal;
  background-color: rgba(170, 170, 170, 0.05);
}
#right-box p {
  font-size: 12px;
  line-height: 15px;
  margin: 2px 3px;
  color: #777;
}
#right-box p img {
  max-width: 100%;
}
/* control panel */
/**
#control-panel {
  position: absolute;
  top: 60px;
  left: 10px;
  height: 50px;
}
*/
/* data table */
#datatable {
  position: absolute;
  top: 20px;
  left: 700px;
}

#datatable table {
  border-collapse: collapse;
  border: none;
  width: 100px;
}

#datatable td,th {
  border: solid #777 1px;
}

.info {
  position: absolute;
  top :20px;
  left: 10px;
}